body{
    background-color: #2C5784;
    font-family: 'Futura', 'sans-serif', 'Arial';
    margin: 0;
    padding: 0;
   }
   
#page{
    background-color: #403C3B;
    margin: 0 auto 0 auto;
    position: relative;
    text-align: center;
    border-radius: 5px;
}

h1{
    /* background-image: ; */
    color: #fff;
    background-repeat: no-repeat;
    background-position: center center;
    text-align: center;
    height: 75x;
    line-height: 75px;
    margin: 0 auto 0 auto;
    padding: 30px 10px 20px 10px;
}

h2{
    color: white;
    font-size: 24px;
    font-weight: normal;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .3em;
    display: inline-block;
    margin: 0 0 23px 0;
}

h2 span{
    background-color: white;
    color: black;
    font-size: 15px;
    text-align: center;
    letter-spacing: 0;
     display: inline-block;
    position: relative;
    border-radius: 50%;
    top: -5px;
    height: 22px;
    width: 26px;
    padding: 4px 0 0 0;
}
h2 a{
    font-size: 12;
}

a.show{
    font-size: 12px;
    padding: 5px;
    letter-spacing: 0;
    position: relative;
    top: -5px;
    left: 10px;
}

ul{
    border: none;
    margin: 0;
    padding: 0;
}

li{
    background-color: #EC8B68;
    color: white;
    border-top: 1px solid #FE9772;
    border-bottom: 1px solid #9F593F;
    font-size: 18px;
    letter-spacing: .05em;
    list-style-type:none;
    text-shadow: 2px 2px 1px #9F593F;
    text-align: left;
    height: 40px;
    padding-left: .5em;
    padding-top: 1em;
}

li a{
    color: white;
    /* background-image: */
    background-position: right, center;
    background-repeat: no-repeat;
    text-decoration: none;
    padding-right: 36px;
}

li .cool a{
    background-image: none;
}

p{
    background-color: white;
    color: #666;
    padding: 10px;
    display: inline-block;
    margin: 20px auto 20px auto;
    width: 80%;
    border-radius: 5px;
    text-align: center;
}

.hot{
    background-color: #D7666B;
    color: white;
    text-shadow: 2px 2px 2px #914141;
    border-top: 1px solid #E99295;
    border-bottom: 1px solid #914141;
}

.cool{
    background-color: #6CC0AC;
    color: white;
    text-shadow: 2px 2px 2px #3B6A5E;
    border-top: 1px solid #7EE0C9;
    border-bottom: 1px solid #3B6A5E;
}

.cool{
    display: block;
}

.neutral{
    background-color: #999;
    color: white;
    /* background-image: */
    background-position: right, center;
    background-repeat: no-repeat;
    text-shadow: 2px 2px 2px #333;
    border-top: 1px solid #666;
    border-bottom: 1px solid #B0B0B0;
}

.seasonal{
background-color: rgb(156, 236, 156);
padding: 19px;
margin: auto auto auto -9px;
}

em .seasonal{
    /* background-image */
    background-position: left, center;
    background-repeat: no-repeat;
    padding-left: 30px;
}

.favorite{
    /* background-image: */
    background-position: left, center;
    background-repeat: no-repeat;
}

/* From Styling */

form{
    padding: 0 20px 20px 20px;
}

label{
    color: #fff;
    display: block;
    margin: 10px 0 10px 0;
    font-size: 24px;
}

input[type="text"], input[type="password"], textarea{
    background-color: #999;
    color: #333;
    font-size: 24px;
    width: 96%;
    padding: 4px 6px;
    border: 1px solid #999;
    border-radius: 8px;
}

input[type='submit'], a.add, button, a.show{
    background-color: #CB6868;
    color: #F3DAD1;
    border-radius: 8px;
    border: none;
    padding: 8px 10px;
    margin-top: 10px;
    font-family: 'Futura', 'sans-serif';
    font-size: 18px;
    text-decoration: none;
    text-transform: uppercase;
}

input[type="submit"], a.add, button{
    float: right;
}

input[type="text"]:focus, input[type="password"].focus, textarea:focus{
    border: 1px solid #fff;
    background-color: #fff;
    outline: none;
}

input[type='submit']:hover, a.add:hover, a.show:hover{
    background-color: #000;
    color: #fff;
    cursor: pointer;
}

::-webkit-input-placeholder { color: #403C3B; font-family: arial, sans-serif;}
::-moz-placeholder {/* Firefox 18- */ color: #403C3B; font-family: arial, sans-serif; }
::-moz-placeholder {/* Firefox 19+ */ color: #403C3B; font-family: arial, sans-serif; }
::-moz-placeholder { color: #403C3B; font-family: arial, sans-serif; }

textarea{
    width: 96%;
    height: 5em;
    line-height: 1.4em;
}

select, option{
    font-size: 16px;
}

#newItemButton{
    padding: 10px 20px 75px 20px;
    display: none;
}

#newItemForm{
    padding-top: 20px;
}

#itemDescription{
    width: 360px;
}

#newItemForm input[type="submit"] {
    margin-top: 0;
    text-align: left;
}

#group{
    margin: 10px;
    border: 2px solid #fff;
}

.date li i{
    font-size: 12px;
    padding-left: 8px;
}

#slideAd{
    width: 130px;
    height: 60px;
    background-color: #403C3B;
    /* background-image: */
    background-repeat: none;
    background-position: 10px center;
    color: #fff;
    border-top: 1px solid #fff;
    border-left: 1px solid #fff;
    border-bottom: 1px solid #fff;
    padding: 25px 20px 10px 85px;
    position: fixed;
    bottom: 20px;
    right: -235px;
    text-transform: uppercase;
}

#footer{
    background: none;
    color: #fff;
}

@media only screen and (min-width: 500px){
    body{
        background-color: #2C5784;
    }
    #page{
        max-width: 480px;
    }
}

@media only screen and (min-width: 500px) and (max-width: 767px){
    #page{
        max-width: 480px;
        margin: 20px auto 20px auto;
    }
}

@media only screen and (min-width: 768px){
    #page{
        max-width: 480px;
        margin: 20px auto 20px auto;
    }
}

@media (-webkit-min-device-pixel-ration: 2), (min-resolution: 192dpi){
    h1{
      /* background-image: */
      background-size: 72px 72px;  
    }
}
